name: Release
on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: 24.x
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Add dist/consent.min.js to current tag
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "github-actions"
          git checkout $GITHUB_REF
          git add --force dist/consent.min.js
          git commit -m "chore: add built consent.min.js for release $GITHUB_REF"
          git push origin $GITHUB_REF